*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;


}

html, body {

    font-style: normal;
    min-width: 375px;
    background-color: #fafafc;;
    height: 100%;
    margin-left: auto;
    margin-right: auto;


}

fieldset {
    all: unset;
}

legend {
    all: unset
}

textarea, input {
    border: none;
    outline: none;
    resize: none;
}


.container {
    margin: 0 auto;
    padding: 0 64px;
    max-width: 1280px;

}

.header_container {
    max-width: 1280px;

}
.header {
    max-width: 100vw;
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
    background: #fff;
    margin: 0 auto;

}

.logo {
    display: flex;
    gap: 0
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 19px 64px;

}

.counter {
    display: flex;
    align-items: center;
    gap: 12px;
}


.main-section {
    margin-bottom: 24px;
    margin-top: 24px;
}

.note-form {
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #fff;
    display: flex;
    height: 228px;
    flex-direction: column;
}

label, .label {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: #919191;
}

.form-up {
    display: flex;
    flex-direction: column;
    max-width: 344px;

}

input[name=title] {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;

    height: 36px;
}

textarea {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    height: 84px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
}

.note-form input:focus,
.note-form textarea:focus {
    border: 1px solid black;
    transition: border 0.2s ease;
}

.form-down {
    display: flex;
    flex-direction: row;
    gap: 24px;

}

.form-content {
    display: flex;
    flex-direction: column;
    max-width: 848px;
    flex: 1;
    justify-content: flex-end;

}

.radio-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    border-radius: 10px;
    padding: 6px 24px;
    width: 232px;
    height: 36px;
    background-color: #457cdc;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fieldset-btn {
    display: flex;
}

::placeholder {
    color: #919191;
}

input {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: #000;
}


.radio-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 2px;
    margin: 6px 0 0 0;
}


.radio {
    appearance: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: green;
    margin: 0;
}

.radio.radio.radio {
    border: none;
}

.radio[value="red"] {
    background-color: #F37D7D;
}

.radio[value="green"] {
    background-color: #C2F37D;
}

.radio[value="blue"] {
    background-color: #7DE1F3;
}

.radio[value="yellow"] {
    background-color: #F3DB7D;
}

.radio[value="purple"] {
    background-color: #E77DF3;
}

.radio:checked {
    border-color: white;
    box-shadow: 0 0 0 3px white, /* Внутренняя обводка для создания промежутка */ 0 0 0 4.5px #007BFF; /* Внешняя обводка */
}

.messages-box {
    position: fixed;
    bottom: 74px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    max-width: 1280px;
    padding: 0 64px;
    display: flex;
    justify-content: flex-end;
}

.message-done {
    border-radius: 10px;
    padding: 12px 24px;
    height: 48px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #47b27d;
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    color: #fff;
    transition: transform 4s;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;

}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.message-err {
    display: flex;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 12px 24px;
    gap: 10px;
    height: 48px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #f23d5b;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    color: #fff;
    transition: transform 4s;
}


.filter-box {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 12px;
}

.notes_empty {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #000;
    padding-top: 138px;
    flex: 1;
}

.notes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.note, .favorite {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 42px) / 3);

    border-radius: 10px;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08), 0 8px 16px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
}

.note-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 12px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.note-title {
    flex: 1;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #1f393d;
}

.fav-button, .del-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.note-content {
    padding: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
    color: #000;
    overflow-wrap: break-word;
    word-break: break-word;
}